//sidebar
$menuBg:#EAF0FC;
$subMenuBg:#F7FAFF;
$menuHover:#D6DDE3;
$sidebarWidth: 190px;

//Logobar
$LogobarHei: 55px;

// inputWidth
$inputWidth: 150px;

//formInputWidth
$formInputWidth: 330px;

// $queryContainerHeight: 72px;

$onlineClr: #67c23a;
$offlineClr: gray;
$overproofClr: red;
$destoryClr: orange;
